<html>
<head>
<style>
td { border-style: solid; border-width: 1px; border-color: black;}
</style>
</head>

<body>
{% macro session_cell(session, day) -%}
{% if not session %}
<td></td>
{% elif not session.is_a_talk %}
<td>{{ session.title }}</td>
{% elif session.render_content %}
<td rowspan="{{ session.row_count }}" id="session_{{ session.talk.code }}">
{#    {% if "workshop" in event.extra_tags %}
    <span class="extraTag">workshop</span>
    {% elif "discussion" in event.extra_tags %}
    <span class="extraTag">{% if lang == "en" %}discussion{% elif lang == "it" %}dibattito{% endif %}</span>
    {% elif "keynote" in event.extra_tags %}
    <span class="extraTag">{% if lang == "en" %}keynote{% elif lang == "it" %}Relazione invitata{% endif %}</span>
    {% elif "panel" in event.extra_tags %}
    <span class="extraTag">{% if lang == "en" %}panel{% elif lang == "it" %}Tavola rotonda{% endif %}</span>
    {% endif %}
#}
    {% if not session.recording %}
      <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="This event will not be recorded.">
    {% endif %}
    {{session.talk.title}}
    <br>
    <span class="speaker">{{session.speaker_names}}
{#
      {% if session.organisations != "" %}
        ({{session.organisations}})
      {% endif %}
#}
    </span>
</td>
{% endif %}
{%- endmacro %}

    <div class='pad4y col12 clearfix prose'>
      <div class='col12 space-bottom4 contain'>

        <div
          id='program-intro'
          class='col12 clearfix space-bottom4'>
          <div class='col8'>
            <h1 class="color-purple2 spartan">Overview</h1>

            <p>State of the Map 2018 is taking place from <b>July 28th to 30th 2018</b> in Milan, Italy. We have created an exciting program with you—the OpenStreetMap community. For the duration of the conference, we have space set aside that can be booked by groups of mutual interest, or used without prior planning.</p>
<ul>
<li>July 28th: conference begins with a keynote speech, followed by a day of presentations, workshops and an evening social event</li>
<li>July 29th: day 2 of more presentations and workshops covering the latest topics of OpenStreetMap. Plus a whole track of academic talks selected by our scientific committee.</li>
<li>July 30th: the final day continues to ask big questions, and culminates with the annual OSM Awards in the closing session</li>
</ul>
<p>There will be plenty of breakout rooms throughout for discussions, code, documentation sprints, mapping and workshops.</p>
          </div>
        </div>
    {% for day in days %}
        <h2>{{ day|weekday }}</h2>
        <table class="scheduleTable">
            <thead>
                <tr class="fill-purple dark">
                    <td width="55px"></td>
                    {% for room in day['rooms'] %}
                        <td>{{ room['name']}}{% if not room['video']  %} <img class="noRecordingBright" src="/img/novideo-bright.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded.">{% endif %}</td>
                    {% endfor %}
                    {% if right_time %}<td></td>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for slot in slots %}
		{% if slot.start|equal_day(day.date) and slot.rendering_required() %}
                    <tr>
                        <td class="fill-darken0">{{ slot['start'].astimezone(timezone).strftime('%H:%M') }}</td>
                        {% if slot is none %}
                            <td colspan="{{ slot['sessions']|length }}" class="scheduleBreak"></td>
                        {% elif slot.is_break() %}
                            <td colspan="{{ slot['sessions']|length }}" class="fill-darken0 scheduleBreak">Break</td>
                        {% else %}
                            {% for session in slot['sessions'] %}
                              {{ session_cell(session, day) }}
                            {% endfor %}
                        {% endif %}
                        {% if right_time %}<td class="fill-darken0">{{ slot['start'].strftime('%H:%M') }}</td>{% endif %}
                    </tr>
                {% endif %}
                {% endfor %}
             </tbody>
        </table>
    {% endfor %}

      </div>

      </div>
</body>
</html>
